.button {
    background-color: #6278F7;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    width: 10.4375rem;
    height: 5rem;
    padding: 0;
    margin-top: 14px;
    border-radius: 0.625rem;
    border: none;
    cursor: pointer;
}

.button:hover {
    color: #95FFD4;
}

@media (max-width: 767px) {
    .button {
        font-size: 1rem;
        height: 3.5rem;
    }
}