
.header {
    background-color: #6278F7;
    display: flex;
    justify-content: center;
}

.header img {
    max-width: 100%;

}

@media (max-width: 767px) {
    .header {
        align-items: center;
        height: 12rem;
    }
    .header img {
        height: 10rem;
    }
}